.wikis {
    display: flex;
    min-height: 100vh;
    height: auto;
    font-family: "Inter";
    .navigation {
      flex: 0.5;
      border-right: solid 1px #dfe9f1;
    }
    .list{
        width: 250px;
    }
    h2 {
      font-size: 20px;
      font-weight: bold;
      font-family: "Inter";
    }
    #wikis {
      position: relative;
      flex: 3;
    }
  }